<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdfint.backend.modules.sys.mapper.CrmSmsRequestMapper" >
  <resultMap id="BaseResultMap" type="com.bdfint.backend.modules.sys.bean.CrmSmsRequest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="request_id" property="requestId" jdbcType="VARCHAR" />
    <result column="sms_package_id" property="smsPackageId" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="card_id" property="cardId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, request_id, sms_package_id, total, card_id, start_time, user_id, del_flag, status
  </sql>
  
</mapper>